@page
@using Microsoft.AspNetCore.Components.Web.Virtualization
@using Microsoft.AspNetCore.Http.Features
@model dr.Web.Areas.Admin.Pages.TimeTable.CreateModel
@{
    Layout = "Shared/_AdminLayout";
}

@section Heads
{
    <link href="~/Admin_Theme/assets/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css"/>
    <link href="~/Admin_Theme/assets/css/persian-datepicker.min.css" rel="stylesheet" type="text/css"/>
}

<div class="modal-header">
    <h4 class="modal-title">ایجاد جدول زمانی جدید</h4>
</div>

<form asp-page="./Create"
      method="post"
      data-ajax="true"
      data-callback=""
      data-action="Refresh"
      enctype="multipart/form-data">
    <div class="modal-body">
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="TimeTable.Name" class="control-label">نام جدول</label>
                    <input type="text" class="form-control" asp-for="TimeTable.Name">
                    <span asp-validation-for="TimeTable.Name" class="error"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <a class="btn btn-success btn-lg" id="AddShift" href="#showmodal=@Url.Page("./Create", "AddShift")">افزودن شیفت</a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <a class="btn btn-success btn-lg" href="#showmodal=@Url.Page("./Create", "EditShift")">ویرایش شیفت</a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <a class="btn btn-success btn-lg" href="#showmodal=@Url.Page("./Create", "DeleteShift")">حذف شیفت</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">لیست شیف ها</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <table id="datatable" class="table table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>شروع شیفت</th>
                                    <th>پایان شیفت</th>
                                    <th>وضعیت استفاده</th>
                                    <th>عملیات</th>
                                </tr>
                                </thead>
                                <tbody>
                                @for(var i = 0; i < Model.Shifts.Count; i++)
                                {
                                    <tr id="@Model.Shifts[i].Id">
                                        <td>@Model.Shifts[i].Id</td>
                                        <td>
                                            <input type="text" asp-for="@Model.Shifts[i].StartDate"/>
                                        </td>
                                        <td>
                                                <input type="text" asp-for="@Model.Shifts[i].EndDate" />
                                        </td>
                                        <td>قابل استفاده</td>
                                        <td>
                                            <a class="btn btn-warning pull-right m-rl-5"
                                               href="#showmodal=@Url.Page("./Index", "Edit", new { id = @Model.Shifts[i].Id })">
                                                <i class="fa fa-edit"></i> ویرایش
                                            </a>
                                            <a class="btn btn-primary pull-right m-rl-5"
                                               href="#showmodal=@Url.Page("./Index", "ChangePassword", new { email = 2 })">
                                                <i class="fa fa-key"></i> ویراییش زمان بندی
                                            </a>
                                        </td>
                                    </tr>
                                }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">بستن</button>
        <button type="submit" class="btn btn-info waves-effect waves-light">ایجاد</button>
    </div>
</form>

@section Scripts {
    <script src="~/Admin_Theme/assets/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Admin_Theme/assets/datatables/dataTables.bootstrap.js"></script>
    <script src="~/Admin_Theme/assets/js/persian-date.min.js"></script>
    <script src="~/Admin_Theme/assets/js/persian-datepicker.min.js"></script>
    <script type="text/javascript">
			$(document).ready(function () {
				$('#datatable').dataTable({
					ordering: false
				});
            document.getElementById("AddShift").href += "&id=" + $("table tr:last").prop("id");
			});
		</script>
    <script>
			setTimeout(function () {
				$("#Message").hide(250);
			},
				3000);
		</script>
}